*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{

    .row{
        width: 100%;
      
        
    }
.background-header{
    background-color: darkblue;
    height: 42px;
    p{
       text-align: center;
       padding: 10px;
       color: white;
       font-size: 13px;
    }
}
.pages-enter{
    
    padding: 10px;
    ul{
        list-style: none;
        display: flex;
        li{
            margin-left: 10px;
            a{
                text-decoration: none;
                font-size: 13px;
                color: black;
                cursor: pointer;
            }
            &:hover a{
                display: block;
                color: blue;
            }  
        }  
    }
}
.secury-information{
    margin-left: 50px;
    padding: 10px;
    font-size: 15px;
    span{
        margin-left: 10px;
    }
    i{
        font-size: 18px;
    }
}
.select{
    margin-top: 10px; 
    .dropdown{
        margin-left: 20px;
        .dropdown-content {
            ul{
                list-style: none;
                li{
                    &:hover a{
                        color: #2bbef9;
                    }
                }
            }
            border: 1px solid white;
            text-align: center;
            height: 140px;
            width: 100px;
           display: none;
           position: absolute;
           background-color: #f1f1f1;
           z-index: 1;
        }
    }
   .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    .dropdown:hover .dropdown-content {display: block;}
}
.logo{
    img{
    width: 170px;
    margin-top: 10px;
    margin-left: 13px;
    }
    p{
        font-size: 10px;
        margin-left: 10px;
        margin-top: 2px;
        color: gray;
    }
}
.location{
  
    .btn{
        
        width: 220px;
        height: 70px;
        background-color: white;
        color: black;
        border: 1px solid black;
        border-radius: 10px;
        
    }
    .modal-dialog{
        margin-top: 200px;
    }
    .modal-body{
       
        .form-control{
            width: 100%;
            font-size: 15px;
            padding: 30px;
        }
        i{
            font-size: 20px;
        }
       
        
        .fa-search{
            position: absolute;
            top: 60px;
            left: 20px;
            cursor: pointer;
        }
        .ull{
            overflow-y: scroll;
            overflow-x: hidden;
        }
        ul{
            
            width: 100%;
            height: 200px;
            list-style: none;
            li{
                width: 299px;
                
            a{
                color: black;
                text-decoration: none;
               
            }
            .upp{
                margin-left: 70px;
            }
            &:hover a{
                color: #2bbef9;
            }
            }
          
           span{
            margin-left: 70px;
           }
        }
    }
    margin-top: 10px;
    margin-left: 20px;
}
.form-inputs{
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
}
.form-inputs .form-control {
    height: 55px;
    width: 550px;
   border-radius: 10px;
}
.form-inputs i {
    position: absolute;
    right: 15px;
    font-size: 20px;
    top: 20px;
    cursor: pointer;
    
}
.login-basket{
    margin-top: 30px;
    margin-left: 10px;
    i{
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
    }
    a{
        color: black;
    }
}}

.home-list{
    .btn-primary{
        background-color: #2bbef9;
        width: 180px;
        height: 50px;
        text-align: center;
        border: 1px solid #2bbef9;
        border-radius: 20px;
        i{
            margin-left: 10px;
        }
        ul{
            list-style: none;
        }
        li{
            font-size: 10px;
            border: 1px solid white;
            border-radius: 20px;
            background-color: whitesmoke;
            color: black;
            margin-top: 10px;
            width: 100px;
            margin-left: 20px;
        }   
    }
    .dropdown-menu{
       height: 330px;
         width: 300px;
       text-align: center;
       ul{
           list-style: none;
           margin-left: 10px;
           margin-top: 20px;
           a{
               color: black;
               text-decoration: none;
             
           }
           li{
            &:hover a{
                color: #2bbef9;
                
            }
            i{
                color: gray;
            }
             
           
            &:hover i{
                color: #2bbef9;
            }
            .dropdown{
                margin-left: 15px;
                width: 250px;
              
               
                .dropdown-content {

                    justify-content: center;
                    ul{
                        list-style: none;

                        li{
                            &:hover a{
                                color: #2bbef9;
                            }
                        }
                    }
                    border: 1px solid white;
                    text-align: center;
                    height: 400px;
                    width: 250px;
                    margin-left: 106px;
                    
                   display: none;
                   position: absolute;
                   top: 0;
                   left: 165px;
                   background-color: #f1f1f1;
                   z-index: 10;
                }
            }
          
           .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
            .dropdown:hover .dropdown-content {display: block;}

        }
       }
       .down{
        border-top: 1px solid black;
        
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    }
}
.home{
    margin-left: 150px;
   
    .drop1{
        
        .dropdown{
            margin-left: 20px;
            margin-top: 15px;
          
          
            .dropdown-content {
                border: 1px solid white;
                height: 250px;
                width: 170px;
               display: none;
               position: absolute;
               background-color: #f1f1f1;
               z-index: 10;
               
               ul{
                   list-style: none;
                   a{
                   
                
                    text-align: center;
                }
                li{
                    &:hover a{
                        color: #2bbef9;
                    }
                }
               
               }
              
            }
            i{
                position: absolute;
                
                top: 4px;
                left: 45px;
            }
           
         
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
        .dropdown:hover .dropdown-content {display: block;}
    }
    .drop2{
        
        margin-top: 15px;
        .dropdown{
            margin-left: 50px;
            i{
                position: absolute;
                
                top: 4px;
                left: 40px;
            }
            
            .dropdown-content {
                display: flex;
                border: 1px solid white;
                
                height: 400px;
                width: 900px;
                text-align: center;
               display: none;
               position: absolute;
               background-color: #f1f1f1;
               z-index: 10;
               box-shadow: 100px 8px 16px 0px rgba(0, 0, 0, 0.2);
               
               ul{
                   list-style: none;
                   
                   li{
                       display: flex;
                       width: 175px;
                       text-align: center;
                       a{
                           margin-left: 10px;
                           width: 220px;
                       }
                       &:hover a{
                           color: #2bbef9;
                       }
                       b{
                           margin-left: 50px;
                       }
                   }
               }
            }
            
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
        .dropdown:hover .dropdown-content {display: flex;}
    }
   
}
.list{
    margin-top: 15px;
  margin-left: 65px;

    a{
        padding: 10px;
        color: black;
        text-decoration: none;
    }
    &:hover a{
        color: #2bbef9;
        border: 1px solid #2bbef9;
        border-radius: 20px;
    }
    &:hover i{
        color: #2bbef9;
    }
    i{
        color: gray;
    }
}

#login{
    margin-top: 100px;
    .login-all{
        .register{
            margin-left: 50px;
        }
        .form-control{
            width: 500px;
        }
    }
    .login{
        .submit{
            width: 89px;
            height: 40px;
            background-color: #233a95;
            color: whitesmoke;
            border-radius: 5px;
        }
    }
    .submit{
        width: 120px;
        height: 40px;
        background-color: #233a95;
        color: whitesmoke;
        border-radius: 5px;
    }
   
}


#contac{
    .touch{
        h1{
            text-align: center;
           
            margin-left: 200px;
            margin-top: 100px;  
        }
        p{
         margin-left: 190px;
        }
     }

     .center{
         text-align: center;
         align-items: center;
         border: 1px solid black;
         margin-left: 20px;
         height: 200px;
         width: 330px;
         margin-top: 20px;
         justify-content: center;
         i{
             font-size: 40px;
             color:#233a95;
         }
         h3{
             font-size: 15px;
             margin-top: 20px;
         }
         .tosend{
             padding: 20px;
         }
     }
     .sent-us{
         margin-top: 150px;
         text-align: center;
         h1{
             margin-left: 100px;
         }
        
         p{
             margin-left: 190px;
             width: 900px;
         }
     }
     .logins{
        align-items: center;
         .form-control{
             width: 470px;
             
         }
         .ones{
             margin-left:140px ;
         }
         .twos{
             margin-left: 30px;
         }
     }
     .subject{
         width: 970px;
         height: 66px;
         margin-left: 140px;
         .form-control{
             height: 66px;
         }
         .message{
             height: 100px;
         }
     }
     
     

}
#newsletter{
    margin-top: 350px;
       
    .write{
        position: relative;
       
        background-color: #233a95;
        width: 100%;
        
        height: 150px;
        padding: 200px;
        h3{
            color: white;
        }
        p{
            color: gray;
        }
        h5{
            color: white;
        }
        .input{
            
            .one{
                width: 500px;
                height: 60px;
                position: relative;
            }
            .two{
                width: 120px;
                margin-left: 20px;
                background-color: #233a95;
                color: white;
                position: absolute;
                left: 550px;
                top: 330px;
            }
        }
        .image{
            img{
                position: absolute;
                width: 500px;
                height: 200px;
                right: 200px;
                top: 200px;

            }
        }
      
    }
}
#products{
    .row{
        margin-top: 200px;
        .uls{
            margin-left: 20px;
            list-style: none;
            a{
                color: black;
                text-decoration: none;
            }
            ul{
                list-style: none;
                padding: 20px;
            }
           
        }
    }

}
#phone{
    .row{
        margin-top: 100px;
        position: relative;
        p{
            font-size:10px;
        }
        .ivonss{
            position: absolute;
        }
        .down{
            margin-left: 470px;
            h5{
                font-size: 16px;
            }
            p{
                font-size: 15px;
            }

        }
        .icon{
            margin-left: 100px;
            
        }
        .copy{
            
            p{
                font-size: 12px;
                margin-left: -100px;
            }
           
        }
        .polisy{
            margin-left: 20px;
            a{
                padding: 4px;
                margin-left: 8px;
                font-size: 15px;
                color: black;
                text-decoration: none;
            }
        }
        .payment{
            margin-left: 20px;
        }
       
    }    
}    

