@model Dictionary<string,string>




<footer>
    <section id="fin">

        <div class="finish">
            <h5>$20 discount for your first order</h5>
            <h3>Join our newsletter and get...</h3>
            <p>Join our email subscription now to get updates on promotions and coupons.</p>

            <div class="input d-flex">
                <input class="form-control one" type="text" placeholder="Your email address">
                <input class="form-control two" type="submit" value="Subscribe">

            </div>
            <div class="image">
                <img src="~/assets/img/coupon.png" alt="">
            </div>
        </div>
    </section>

    <section id="fi">
        <div class="container">
            <div class="row mt-5">
                <div class="col-3">
                    <i class="fas fa-home"></i> <span>Everyday fresh products</span>
                </div>
                <div class="col-3">
                    <i class="fas fa-caravan"></i> <span>
                        Free delivery for order over $70
                    </span>
                </div>
                <div class="col-3">
                    <i class="fas fa-percent"></i> <span>Daily Mega Discounts</span>
                </div>
                <div class="col-3">
                    <i class="fas fa-dollar-sign"></i> <span>Best price on the market</span>
                </div>
            </div>
        </div>
    </section>
    <section id="fiss">

        <div class="container">
            <div class="row d-flex">

                <div class="uls">
                    <ul>
                        <p><b>FRUIT & VEGETABLES</b></p>
                        <li><a href=""> Fresh vegetables</a></li>
                        <li><a href=""> Herbs & Seasoning</a></li>
                        <li><a href=""> Fresh Fruits</a></li>
                        <li><a href=""> Cuts & Sprouts</a></li>
                        <li><a href=""> Exotic Fruits & Veggies</a></li>
                        <li><a href=""> Packaged Produce</a></li>
                        <li><a href=""> Party Trays</a></li>
                    </ul>
                </div>
                <div class="uls">
                    <ul>
                        <p><b>BREAKFAST & DAIRY</b></p>
                        <li><a href=""> Milk & Flavoured Milk</a></li>
                        <li><a href=""> Butter and Margarine</a></li>
                        <li><a href=""> Cheese</a></li>
                        <li><a href=""> Eggs Substitutes</a></li>
                        <li><a href="">Honey</a></li>
                        <li><a href=""> Marmalades</a></li>
                        <li><a href=""> Sour Cream and Dips</a></li>
                        <li><a href=""> Yogurt</a></li>
                    </ul>
                </div>
                <div class="uls">
                    <ul>
                        <p><b>MEAT & SEAFOOD</b></p>
                        <li><a href=""> Breakfast Sausage</a></li>
                        <li><a href=""> Dinner Sausage</a></li>
                        <li><a href="">Beef</a></li>
                        <li><a href=""> Chicken</a></li>
                        <li><a href="">Sliced Deli Meat</a></li>
                        <li><a href=""> Shrimp</a></li>
                        <li><a href=""> Wild Caught Fillets</a></li>
                        <li><a href="">Crab and Shellfish</a></li>
                        <li><a href="">Farm Raised Fillets</a></li>
                    </ul>
                </div>
                <div class="uls">
                    <ul>
                        <p><b>BEVERAGES</b></p>
                        <li><a href=""> Water</a></li>
                        <li><a href=""> Sparkling Water</a></li>
                        <li><a href="">Soda & Pop</a></li>
                        <li><a href=""> Coffee</a></li>
                        <li><a href="">Milk & Plant-Based Milk</a></li>
                        <li><a href=""> Tea & Kombucha</a></li>
                        <li><a href=""> Drink Boxes & Pouches</a></li>
                        <li><a href="">Craft Beer</a></li>
                        <li><a href="">Wine</a></li>
                    </ul>
                </div>
                <div class="uls">
                    <ul>
                        <p><b>BREADS & BAKERY</b></p>
                        <li><a href=""> Milk & Flavoured Milk</a></li>
                        <li><a href=""> Butter and Margarine</a></li>
                        <li><a href="">Cheese</a></li>
                        <li><a href=""> Eggs Substitutes</a></li>
                        <li><a href="">Honey</a></li>
                        <li><a href=""> Marmalades</a></li>
                        <li><a href=""> Sour Cream and Dips</a></li>
                        <li><a href="">Yogurt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="tele">
        <div class="container">
            <div class="row d-flex">
                <div class="tel">
                    <i class="fas fa-phone-alt"></i> <span><b>8 800 555-55</b></span>
                    <p>Working 8:00-22:00</p>
                </div>
                <div class="ivonss d-flex">
                    <div class="down">
                        <h5><b>Download App on Mobile :</b></h5>

                        <p>15% discount on your first purchase</p>
                        <span style="color:darkred">@Model["Email"]</span>
                    </div>
                    <div class="icon">
                        <img src="~/assets/img/google-play.png" alt="">
                        <img src="~/assets/img/app-store.png" alt="">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram-square"></i>
                    </div>
                </div>

                <div class="row d-flex">
                    <div class="copy">
                        <p>Copyright 2022 © Bacola WordPress Theme. All rights reserved. Powered by KlbTheme.</p>
                    </div>
                    <div class="polisy">
                        <a href="">Privacy Policy</a>
                        <a href="">Terms and Condition</a>
                        <a href="">Cooks</a>
                    </div>
                    <div class="payment">
                        <img src="~/assets/img/payments (1).jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

</footer>
